Below are some files for your viewing pleasure under this project<br>
<p><ul><% for file in @files %>
  <li><%= file; %></li>
<% end %></ul></p>
<br>
<br>
<p>Below is some random stuff the book said to check out...</p>

<p>Addition: <%= 1+2 %> </p>

<p>Concatenation: <%= "cow" + "boy" %></p>

<p>Time in one hour: <%= 1.hour.from_now %></p>

<p>Remember to go back and say <%= link_to "Hello", say_hello_path %> or <%= link_to "Goodbye", say_goodbye_path %></p> 
